* {
    box-sizing: border-box;
  }
  

.skills-bg{
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction:row;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.skills-box{
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    padding: 40px;
    background: rgba(40, 40, 40, 0.7);
; 
    border-radius: 15px;
    backdrop-filter: blur(20px); 
    
   
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4),
    0 15px 40px rgba(0, 0, 0, 0.3),
    inset 0 1px 1px rgba(255, 255, 255, 0.2);
    
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.skills-heading{
    font-size: 30px;
    font-weight: 600;
}

.skill-container{
    display: flex;
    flex-direction:row;
    width: 80vw;
    justify-content: center;
    
}
.ul-container{
    display: flex;
    margin: 0px;
    padding: 0px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.skill-card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: 85%;
    height: 160px;

    
    background: rgba(13, 13, 13, 0.5); 
    backdrop-filter: blur(12px);
    
    
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6), 
                0 12px 30px rgba(0, 0, 0, 0.4);

    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer; 
}

.skill-card:hover {
    transform: translateY(-5px); 
    
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.8), 
                0 8px 25px rgba(0, 153, 255, 0.5); 
}

@media  (max-width:768px) {
    .skills-bg{
        flex-direction: column;
    }

    .skills-box{
        width: 90vw;
    }
    .skill-container{
        display: flex;
        flex-direction: column;
        width: 95vw;
    }
    .ul-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }
    .skill-card{
        width: 80%;
        font-size: 13px;
    }
}