* {
    box-sizing: border-box;
  }
  

.dashboard-bg{
    background: linear-gradient(to bottom, #000000, #0a0a0a 80%);
    color: aliceblue;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    box-sizing: border-box;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1000;
    left:0;
    right: 0;
    backdrop-filter: blur(10px);
    max-width: 100vw;
}

.logo{
    font-size: 28px;
    justify-self: flex-start;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
       
}
.hamburger-menu {
    display: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
   padding-top: 10px;    
}

.nav-element{
    margin: 14px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.nav-element:hover{
    text-decoration: underline;
    scale: 1.1;
}
.nav-element:focus{
    text-decoration: underline;
    scale: 1.1;
}

.active-tab{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
}
.contact-button{
    width:100px;
    height: 34px;
    transition: all 0.3s ease-out;
}

.contact-button:hover{
    scale: 1.1;
}

@media (max-width:768px){
    .header{
        padding: 5px 30px;
        max-width: 100vw;
        width: 100%;
    }
    .nav-bar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 200px;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }

   
    .nav-bar.open {
        display: flex;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        color: white;
    }

    .nav-element {
        display: block;
        padding: 10px 0;
    }

}